/* add reset */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  scroll-behavior: smooth;  
}

/* add my global styles */
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 1em;
}
h1, h2, h3, h4 {
  color: #283866;
}
a {
  text-decoration: none;
  color: inherit;
}
a:link {
  color: #be0000;
}
/* body responsive layout */
body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
  font-size: 20px;
  color: #4e4e4e;
}
body > * {
  padding: 25px;
  outline: solid gray 1px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #f7f7f8;

}
/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section {
  margin-bottom: 50px;
}
/* questions */
/* options */
#options {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  padding: 20px 0;
}
/* buttons */
button {
  width: 200px;
  height: 50px;
  text-align: center;
  padding: auto;
  margin: 0 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-image: linear-gradient(to  right,#00487a, #175a88, #00487a);
  border: 0;
  border-radius: 3px;
  transition: all ease-in-out .25s;
}
button:hover, button:active, button:focus {
  background-image: linear-gradient(to right, #005699,#186da8, #005699);
  transition: all  .25s;
}
button[data-correct] {
  width: 400px;
}
input {
  width: 10;
  height: 40px;
  font-size: 16px;
  color: inherit;
  text-align: center;
}
input:focus {
  background-color: #d9eeff;

}
input:focus::placeholder {
  color: transparent;
}
/* scores */